* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat";
}
::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
    background: none; /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
    background: #888; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
}
::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the scroll thumb on hover */
}

/* ===================Header=================== */
.header {
    display: flex; 
    padding: 26px 160px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.header ul {
    text-decoration: none;
    display: flex;
    list-style: none;
    gap: 25px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    justify-content: space-around;
}
.header li{
    padding: 0 10px;
    position: relative;
}
.header li a{
    text-decoration: none;
    color: #3F3F3F;
}
.header li:after{
    content: " ";
    position: absolute;
    background-color: #FCC201;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition:  0.3s;
}
.header li:hover{
    color:#FCC201;
    transition:  0.3s;
}
.header li:hover:after{
    width: 100%;
}
.header button{
    height: 37px;
    width: 123px;
    padding: 6px 10px;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #FCC201;
    border: 3px solid #FCC201;
}
.header button:hover{
    background-color: #FCC201;
    color: #3F3F3F;
    transition:  0.3s;
}
.logo img {
    width: 56px; 
    height: 56px;
    
}
/* ===================End of Header=================== */

/* ===================Header Photo=================== */
.headerphoto{
    padding: 0 30px;
    height: 558px; 
    position: relative;
    overflow: hidden;
}
.headerphoto .image{
    object-fit: cover;
    display: block;
    width: 100%;
    height: 558px;
    border-radius: 20px;

    transform-origin: top;
    animation: header-image-animation linear forwards;
    animation-timeline: view();
    animation-range: exit;
}
@keyframes header-image-animation{
    85%, 100% {scale:3}
}
.headerphoto .HeaderText{
    width: 808px;
    margin-left: 130px;
    margin-right: 130px;
    align-items:center;
    bottom: 54px;
    position: absolute;
    font-weight: bold;
    text-shadow: 4px 2px 9px rgba(0,0,0,0.6);
}
.headerphoto .HeaderText .page{
    font-size: 36px;
    color: #fcc201;
}
.headerphoto .HeaderText .dns{
    font-size: 48px;
    color: #fff;
}
.headerphoto .HeaderText .motto{
    font-size: 16px;
    color: #fff;
}
/* ===================End of Header Photo=================== */

/* ===================Your Perfect Celebration Starts Here=================== */
.introText_container {
    padding: 100px 160px 0;
    text-align: center;
}
.introText_container div.textBehind {
    position: relative;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 200px;
    color: rgba(231, 231, 231, 60%);
    padding: 80px;
}
.introText_container div.textFront {
    width: 100%;
    position: absolute;
    color: #3F3F3F;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(24px, 3vw, 36px);
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin: 0; 
}
/* ===================End of Your Perfect Celebration Starts Here=================== */

/* ===================Who we are & Why choose us=================== */
.section_Container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    padding: 100px 160px 0;
}
.section_Container img{
    width: 530px;
    height: 550px;
    border-radius: 20px;
    object-fit: cover;
}
.section_Container .textContainer{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}
.section_Container .textContainer .title{
    font-size: 48px;
    color: #B78628;
    font-weight: bolder;
}
.section_Container .textContainer .sub_title{
    font-size: 32px;
    color: #3F3F3F;
    font-weight: bold;
}
.section_Container .textContainer .sub_title::after{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #B78628;
    border-radius: 3px;
    margin-top: 10px;
}
.section_Container .textContainer .paragraph{
    font-size: 16px;
    margin-top: 15px;
    font-weight: light;
}
/* ===================End of Who we are & Why choose us=================== */

/* ===================Full image eme=================== */
.imagefull img{
    margin-top: 100px;
    object-fit: cover;
    height: 500px;
    width: 100%;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 0;
    animation-range-end: 500px;
}
@keyframes fade-in {
    from {opacity:0;}
    to {opacity:1;}
}
/* ===================End of Full image eme=================== */

/* ===================Categories=================== */
.categories{
    padding: 100px 160px 0;
    display:flex;
    flex-direction: column;
    gap: 35px;
}
.title{
    font-size: 32px;
    font-weight: bold;
    color: #B78628;
}
.categories .carousel{      /* https://www.nieknijland.nl/blog/make-a-responsive-carousel-with-just-css */
    position: relative;
}
.button {
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 3rem;
    /* transform: translateY(-50%); */
    border-radius: 30px;
    border: 0;
    background-color: black;
    color: white;
    opacity: 0.2;
    font-size: large;
}
.button:hover{
    background-color: white;
    color: black;
    opacity: 1;
}
.button--previous {
    left: 1.5rem;
    transform: rotate(180deg);
}
.button--next {
    right: 1.5rem;
}
.categories .carousel .button .button--next{
    right: 1.5rem;
}
.categories .carousel .list{
    display: flex;
    gap: 20px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}
.categories .carousel .list::-webkit-scrollbar{
    display: none;
}
.categories .carousel .list .item{
    scroll-snap-align: center;
}
.categories .carousel .list .item .container_categories{
    position: relative;
    border-radius: 20px;
    overflow:hidden;
}
.categories .carousel .list .item .container_categories:hover{
    box-shadow: 0px 0px 10px black;
}
.categories .carousel .list .item .container_categories .categories_image{
    height: 354px;
    width: 265px;
    display: block;
    border-radius: 20px;
    overflow:hidden;
}
.categories .carousel .list .item .container_categories .categories_image:hover{
    transform: scale(1.1) rotate(-3deg);
    transition: 0.3s;
}
.categories .carousel .list .item .container_categories .categories_text{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    padding: 37px 34px; 
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    z-index: 1;
}
.categories .carousel .list .item .container_categories .categories_text::after{
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.5;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    border-radius: 0 0 24px 24px;
    content: "";
}
/* ===================End of Categories=================== */

/* ===================Footer=================== */
.footer {
    margin-top: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    padding: 70px 160px;
    border-radius: 50px 50px 0 0;
    align-items: flex-start;
}
.footer .footerLogo {
    width: 230px;
    height: 230px;
}
.footer .footerText {
    height: 231px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer .footerText .Your_Perfect_Celebration_Starts_Here {
    font-size: 32px;
    font-weight: bold;
    color: #2C220F;
}
.footer .footerText .Your_Perfect_Celebration_Starts_Here .PerfectCelebration{
    color: #B78628;
}
.footer .footerText .Mail_and_address .mail, .footer .footerText .Mail_and_address .address{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: #2C220F;
}
.footer .footerSocialMedia{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
/* ===================End of Footer=================== */

/* ===================Send Feedback Overlay=================== */
.SendFeedback_Overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.SendFeedback_Overlay:target{
    visibility: visible;
    opacity: 1;
}
.SendFeedback_Overlay .SendFeedback_wrapper{
    padding: 20px 25px;
    background-color: white;
    box-shadow: 0px 0px 20px black;
    color: #3F3F3F;
    border-radius: 20px;
    width: auto;
    height: auto;
    position:relative;
    transition: all 5s ease-in-out;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.SendFeedback_Overlay .SendFeedback_wrapper .SendFeedback_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.SendFeedback_Overlay .SendFeedback_wrapper .SendFeedback_header .SendFeedback_Title{
    font-size: 24px;
    font-weight: bold;
}
.SendFeedback_Overlay .SendFeedback_wrapper .SendFeedback_header .close{
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: #3F3F3F;
}
.SendFeedback_Overlay .SendFeedback_wrapper .SendFeedback_Content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
}
.SendFeedback_Overlay .SendFeedback_wrapper .SendFeedback_Content .label{
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
}
.SendFeedback_Overlay .SendFeedback_wrapper .SendFeedback_Content .inputName{
    padding: 6px;
    width: 500px;
}
.SendFeedback_Overlay .SendFeedback_wrapper .SendFeedback_Content .inputComment{
    padding: 6px;
    height: 160px;
    width: 500px;
    resize: none;
}
.SendFeedback_Overlay .SendFeedback_wrapper .SendFeedback_Content .SubmitButton{
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    color: #FCC201;
    background-color: #3F3F3F;
    border: 0;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.SendFeedback_Overlay .SendFeedback_wrapper .SendFeedback_Content .SubmitButton:hover{
    color: #FCC201;
    background-color: #7A591B;
    transition: 0.3s;
}
.SendFeedback_Overlay .SendFeedback_wrapper .SendFeedback_Content .starContainer{
    display:flex;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    text-align: center;
}
.SendFeedback_Overlay .SendFeedback_wrapper .SendFeedback_Content .starContainer .star-widget input{
    display: none;
}
.SendFeedback_Overlay .SendFeedback_wrapper .SendFeedback_Content .starContainer .star-widget label{
    font-size: 40px;
    color: #444;
    padding: 10px;   
    float: right;
    transition: all 0.2s ease;
}
.SendFeedback_Overlay .SendFeedback_wrapper .SendFeedback_Content .starContainer .star-widget input:not(:checked) ~ label:hover,
.SendFeedback_Overlay .SendFeedback_wrapper .SendFeedback_Content .starContainer .star-widget input:not(:checked) ~ label:hover ~label{
    color: #FCC201;
}
.SendFeedback_Overlay .SendFeedback_wrapper .SendFeedback_Content .starContainer .star-widget input:checked ~ label{
    color: #FCC201;
}
.SendFeedback_Overlay .SendFeedback_wrapper .SendFeedback_Content .starContainer .star-widget input#-5:checked ~ label{
    color: #ffd000;
    text-shadow: 0 0 20px #952;
}
.SendFeedback_Overlay .SendFeedback_wrapper .SendFeedback_Content .ratingTitle{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
/*Send Feedback Overlay Submit Confirmation*/
.SendFeedback_Overlay .SendFeedback_wrapper .SubmitConfirmation p{
    font-size: 24px; 
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px; 
    text-align: center;
}
.SendFeedback_Overlay .SendFeedback_wrapper .SubmitConfirmation .close{
    display: flex;
    justify-content: flex-end;
}
.SendFeedback_Overlay .SendFeedback_wrapper .SubmitConfirmation{
    display: none;
}
/* ===================End of Send Feedback Overlay=================== */